doctype transitional
html
  head
    title iotalk-middleware-manager
    link(rel='stylesheet', href='/webroot/css/flexigrid.pack.css')
    link(rel='stylesheet', href='/webroot/css/bootstrap.min.css')
    link(rel='stylesheet', href='/webroot/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/webroot/css/style.css')
    
    script(src='/webroot/js/jquery.min.js', type='text/javascript')
    script(src='/webroot/js/flexigrid.pack.js', type='text/javascript')
    script(src='/webroot/js/bootstrap.min.js', type='text/javascript')
    script(src='/webroot/js/configuration.js', type='text/javascript')
    
    if (location)
      script(src='/webroot/js/'+ location +'.js', type='text/javascript')
  body
    div#page
      div#header
        div.logo
          img(src='/webroot/img/logo.png', alt='')
        ul.main-menu
        
          li(class=(location == 'publisher' ? 'active' : ''))
            a(href='/manager/publisher') Publisher Manager
          li(class=(location == 'subscriber' ? 'active' : ''))
            a(href='/manager/subscriber') Subscriber Manager
          li(class=(location == 'contract' ? 'active' : ''))
            a(href='/manager/contract') Contract Manager
      
      div(id=location +'-grid')
    
    block content
    